*{
  margin: 0;
  padding: 0;
}

html, body{
    height: 100%;
}

body { 
  background: url(Boščić\ 3.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container{
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

h1{
  color: #FFFFFF;
  font: 900 120px 'Fraunces', cursive;
  margin-bottom: 40px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
  margin-bottom: 40px;
}

.btn{
  background: rgb(131,58,180);
  background-color: #FFFFFF;
  border-radius: 40px;
  padding: 20px 48px;
  color: #000000;
  font: 40px 'Fraunces', serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}
